<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white text-lg font-semibold">Home</a>
      <div class="flex space-x-4">
          <a href="/api/most_expensive/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Most Expensive Rentals
          </a>
          <a href="/api/two_rentals_with_features/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Rentals with Features
          </a>
          <a href="/api/rentals_with_positive_reviews/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Positive Reviews
          </a>
          <a href="/api/most_rentals_on_date/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Top Posters on Date
          </a>
          <a href="/api/users_with_only_poor_reviews/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Users with Poor Reviews
          </a>
          <a href="/api/users_with_no_poor_reviews/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Users with No Poor Reviews
          </a>
      </div>
  </div>
</nav>
