<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
      <!-- Logo Section -->
      <a href="/" class="flex items-center">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">HomeBooking</span>
      </a>

      <!-- Navbar Links -->
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                  <a href="/api/most_expensive" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Most Expensive Rentals</a>
              </li>
              <li>
                  <a href="/two_rentals_with_features" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Rentals with Features</a>
              </li>
              <li>
                  <a href="/positive_reviews" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Positive Reviews</a>
              </li>
              <li>
                  <a href="/most_rentals_on_date/" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                      Top Posters on Date
                  </a>
              </li>
              <li>
                  <a href="/users_with_poor_reviews/" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                      Users with Poor Reviews
                  </a>
              </li>
              <li>
                  <a href="/users_with_no_poor_reviews" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Users with No Poor Reviews</a>
              </li>
              <li>
                <a id="logoutButton" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Log out</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<script>
    document.getElementById("logoutButton").addEventListener("click", function(event) {
        console.log("Logout button clicked");
  event.preventDefault(); // Prevents the default action if needed
  localStorage.removeItem("auth_token"); // Deletes the 'token' key from localStorage
  window.location.href = "signin"; // Redirects to the signin page
});


  function navigateWithToken(targetUrl) {
  
      // Retrieve the token from localStorage
      const token = localStorage.getItem('auth_token');
      if (!token) {
          alert("You need to log in first.");
          window.location.href = '/login'; // Redirect to login if no token is found
          return;
      }
     // console.log("token is here" + data.token);
  
      // Use the token as a URL parameter for redirection
      // window.location.href = `/${targetUrl}?token=${token}`;
      window.location.href = `/${targetUrl}`;
      //localStorage.setItem('auth_token', token);
  
  }
  
  </script>