<!DOCTYPE html>
<html lang="en">
<head>
    <title>Top Posters on Specific Date</title>
</head>
<body>
    <h1>Top Posters on 10/15/2024</h1>
    <div id="userList"></div>

    <script>
        async function fetchTopPosters() {
            const response = await fetch('/api/most_rentals_on_date/');
            const data = await response.json();

            const userList = document.getElementById('userList');
            userList.innerHTML = `Top Users (${data.max_count} rentals): <br>`;
            data.top_users.forEach(user => {
                const userItem = document.createElement('p');
                userItem.textContent = `User ID: ${user}`;
                userList.appendChild(userItem);
            });
        }
        fetchTopPosters();
    </script>
</body>
</html>
